In [5]:
import sqlite3
conn  = sqlite3.connect("test.db")
c = conn.cursor()
c.execute("""CREATE TABLE my_table(id INTEGER,nome TEXT , eta INTEGER, PRIMARY KEY("id" AUTOINCREMENT))""")
c.execute(''' INSERT INTO my_table(nome, cognome, eta)VALUES(?, ?, ?)''' ,('test, test', 1 ))

conn.commit()
conn.close()

OperationalError: table my_table already exists

In [ ]:
import gradio as gr 
import pandas as pd
import sqlite3

def inser_data_to_sqlite(nome,cognome,eta):
    conn = sqlite3.connect("test.db")
    c = conn.cursot()
    c.execute("INSERT INTO my_table(nome,cognome,eta)VALUES(?,?,?)",(nome, cognome, eta))
    conn.commit()
    conn.close()
def visualize_data():
    conn = sqlite3.connect("test.db")
    df = pd.read_sql_query("SELECT * FROM my_table", conn)
    conn.close
    return df